# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
common/src/main/resources/assets/mtrsteamloco/sounds/northernline/
mappings
checkouts
.architectury-transformer

# OpenBVE images
.bmp